<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AstronomyKit-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AstronomyKit-macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>AstronomyKit-tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>AstronomyKitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B9560BD1D9CB5CC0037618E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B9560CB1D9CB6620037618E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BE052DF1B96429800CC8DF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BE052EA1B96429800CC8DF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E631A3941E2D89A400F479CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
