[submodule "Submodules/xcconfigs"]
	path = Submodules/xcconfigs
	url = https://github.com/jspahrsummers/xcconfigs.git
[submodule "Submodules/AA+"]
	path = Submodules/AA+
	url = https://github.com/hodinkee/aaplus.git
